body {
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    align-items: center;
    margin: 0 auto;

    @media(min-width: 992px) {
        max-width: 820px;
    }

}

.gray {
    display: flex;
    align-items: center;
    background-color: rgb(195, 195, 195);
    min-height: -webkit-fill-available;
}

.align-center {
    align-items: center;
    justify-content: center;
}


.box {
    display: flex;
    padding: 200px 100px;
    align-items: center !important;
    flex-direction: column;
    justify-content: center !important;
    background: #FFF;

    @media(min-width: 992px) {
        height: 500px !important;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    form {
        display: flex;
        flex-direction: column;
    }
}


html,
body,
#root {
    height: 100vh;
}

input {
    width: 520px;
    height: 37px;
    margin: 10px 0;
    padding: 0 20px;
}

button {
    width: 560px;
    height: 37px;
    margin: 5px 0;
    background-color: #7FBCEC;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button {
    margin-top: 20px;
}

h3 {
    font-family: system-ui;
    font-size: 24px;
}