.section-cadastro {
    height: 100vh;
}

h1 {
    font-family: system-ui;
    margin: 60px auto;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4{
    font-family: system-ui;
    margin: 60px auto;
    display: flex;
    justify-content: center;
}